<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glypth.toys">
    <meta-data
    android:name="com.nothing.glyph.toy.lottie"
    android:resource="@raw/glypth_toys_preview"/>

    <application
        android:allowBackup="true"
        android:label="GLYPTH-TOYS"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
